# Environment & Secrets
.env

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Nix
.direnv/
result

# vscode devcontainer
.devcontainer*

# OS
.DS_Store
Thumbs.db
