name: Deploy to Heroku

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          git push https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/team-7-ut-hw.git HEAD:main --force
